<%= form_with model: profile do |form| %>  
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :father_name %><br>
    <%= form.text_field :father_name %>
  </div>
  <div>
    <%= form.label :dob %><br>
    <%= form.date_field :dob %>
  </div>
  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
  </div>
  <div>
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>
  <% profile.errors.full_messages.each do |message| %>
    <div><%= message %></div>
  <% end %>
  <div>
      <%= form.submit %>
  </div>
<% end %>