<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <%= image_tag(@profile.avatar.url, :width => 100, class: "masthead-avatar mb-5", alt: 'Image') if current_user.profile  && @profile.avatar?%>
    <!-- Masthead Heading-->
    <% if current_user.profile %>
      <h1 class="masthead-heading text-uppercase mb-0">Hi, <%= current_user.profile.name %> </h1>
    <% end %>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <% if current_user.profile %>
      <p class="masthead-subheading font-weight-light mb-0">Father Name:-  <%= current_user.profile.father_name %> </p>
      <p class="masthead-subheading font-weight-light mb-0">DOB:-  <%= current_user.profile.dob %> </p>
      <p class="masthead-subheading font-weight-light mb-0">Age:-  <%= current_user.profile.age%> </p>
    <% end %>
    <% if current_user.subject %>
      <p class="masthead-subheading font-weight-light mb-0">Teaching Subject :-  <%= current_user.subject.subject_name %> </p>
    <% end %>
  </div>
</header>



