<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag "profiles" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
      <div class="container">
        <% if user_signed_in? %>
          <a class="navbar-brand" href="/profiles/<%= current_user.id %>">Top-Coaching</a>
        <% else %>
          <a class="navbar-brand" href="/">Top-Coaching</a>
        <% end %>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item mx-0 mx-lg-1"><%= link_to 'LogOut', destroy_user_session_path, class: "nav-link py-3 px-0 px-lg-3 rounded",  :confirm => "Are you sure?", :method => :delete %></li>
            <% if current_user.profile %>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/profiles/<%= current_user.id %>/edit">Edit Profile</a></li>
            <% else %>
              <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/profiles/new">Create Profile</a></li>
            <% end %>
          <% else %>
            <li class="nav-item mx-0 mx-lg-1"><%= link_to 'LogIn', new_user_session_path, class: "nav-link py-3 px-0 px-lg-3 rounded" %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <br><br><br><br>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
